* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  color: #333;
}

.img-principal {
  display: flex;
  justify-content: center;
}

.img-principal img {
  max-height: 150px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-weight: 600;
}

form {
  max-width: 500px;
  margin: auto;
  font-size: 1.1em;
  color: #666;
}

label {
  display: block;
  margin-top: 30px;
}

.input-text-coin,
.input-text-m,
.input-text-rate {
  background-color: #00b200;
  color: #fff;
  padding-left: 8px;
  padding: 0.5rem;
  border-radius: 5px;
}

#initial-amount,
#monthly-deposit {
  width: 400px;
  padding: 10px;
  background-color: #ececec;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

#investment-period,
#interest-rate {
  width: 380px;
  padding-block: 10px;
  background-color: #ececec;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding-left: 0.5rem;
}

button {
  margin: 50px 0 50px 0px;
  padding: 15px 80px;
  font-size: 16px;
  background-color: #00a800;
  color: #fff;
  font-weight: 600;
  border: none;
  box-shadow: 8px 8px 1px #999;
}

.button-container {
  display: flex;
  justify-content: center;
}

#result,
h3,
h4 {
  color: #999;
  margin: 20px;
}

#result {
  text-align: center;
  display: flex;
}

#result h3 {
  font-weight: bold;
  margin-bottom: 50px;
}

#result h4 {
  font-weight: bold;
}

.result-value,
.result-value-end {
  font-weight: bold;
  font-size: 2em;
  padding: 25px;
  max-width: 300px;
  margin: auto;
  border-radius: 15px;
}

.result-value {
  background-color: #f3f3f3;
  color: #00b700;
}

.result-value-end {
  background-color: #00b700;
  color: #fff;
}

.end {
  margin: 100px;
}

footer {
  padding: 20px;
  text-align: center;
}

@media (max-width: 578px) {
  #calculator-form {
    text-align: center;
  }

  #initial-amount,
  #monthly-deposit,
  #investment-period,
  #interest-rate {
    width: 260px;
  }

  .end {
    margin: 0px;
  }
}
